.error_container .message h3 {
  text-align: center;
  font-size: 1.4rem;
  margin: 2rem 0;
}

.error_container .message p {
  font-size: 1.2rem;
  width: 400px;
  margin: 0 auto;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 420px) {
  .error_container .message p {
    width: 80%;
  }
}